In [27]:
import pandas as pd
df=pd.read_excel('titanic3.xlsx')
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [28]:
df.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [37]:
#Fare variable-the max is 512 which seems an outlier so remove that record(s) from analysis

In [43]:
newdf=df
newdf=newdf.drop(newdf[newdf['fare']==512.329200].index)
newdf.describe()

,pclass,survived,age,sibsp,parch,fare,body,sexR
count,1305.000000,1305.000000,1042.000000,1305.000000,1305.000000,1304.000000,121.000000,1305.000000
mean,2.298851,0.380077,29.838452,0.500383,0.384674,31.826051,160.809917,1.355556
std,0.836040,0.485591,14.411786,1.042888,0.866421,44.503671,97.696922,0.478865
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000,1.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000,1.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.068750,256.000000,2.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,263.000000,328.000000,2.000000

In [ ]:
# There're 4 records which fare is 512.329200 so we removed 4 records and created new datset "newdf"

In [50]:
newdf.corr()

,pclass,survived,age,sibsp,parch,fare,body,sexR
pclass,1.000000,-0.308336,-0.406286,0.058798,0.019032,-0.601781,-0.034642,-0.123869
survived,-0.308336,1.000000,-0.059366,-0.026031,0.082390,0.243071,NaN,0.529790
age,-0.406286,-0.059366,1.000000,-0.242701,-0.152563,0.181064,0.058809,-0.066228
sibsp,0.058798,-0.026031,-0.242701,1.000000,0.374115,0.202574,-0.099961,0.110289
parch,0.019032,0.082390,-0.152563,0.374115,1.000000,0.253802,0.051099,0.213503
fare,-0.601781,0.243071,0.181064,0.202574,0.253802,1.000000,-0.043110,0.206542
body,-0.034642,NaN,0.058809,-0.099961,0.051099,-0.043110,1.000000,0.015903
sexR,-0.123869,0.529790,-0.066228,0.110289,0.213503,0.206542,0.015903,1.000000

In [ ]:
# Use regerssion to know what drives people survived. 
# First, try to put pclass,age,sibsp,parch,fare,and sex as independent variables and survived as dependent variable

In [53]:
import statsmodels.formula.api as sm
result = sm.ols(formula='survived ~ pclass +age +sibsp +parch +fare +sexR', data=newdf).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.375
Model:                            OLS   Adj. R-squared:                  0.371
Method:                 Least Squares   F-statistic:                     103.3
Date:                Fri, 29 Sep 2017   Prob (F-statistic):          6.89e-102
Time:                        23:38:29   Log-Likelihood:                -492.53
No. Observations:                1041   AIC:                             999.1
Df Residuals:                    1034   BIC:                             1034.
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.3347      0.079      4.246      0.000       0.180       0.489
pclass        -0.1853      0.020     -9.212      0.000      -0.225      -0.146
age           -0.0059      0.001     -6.192      0.000      -0.008      -0.004
sibsp         -0.0492      0.015     -3.327      0.001      -0.078      -0.020
parch          0.0125      0.016      0.765      0.444      -0.020       0.045
fare        -6.62e-05      0.000     -0.190      0.850      -0.001       0.001
sexR           0.4961      0.026     18.946      0.000       0.445       0.547
==============================================================================
Omnibus:                       36.369   Durbin-Watson:                   1.928
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               39.653
Skew:                           0.478   Prob(JB):                     2.45e-09
Kurtosis:                       2.980   Cond. No.                         424.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [54]:
import statsmodels.formula.api as sm
result = sm.ols(formula='survived ~ pclass +age +sibsp +parch +fare +sexR-1', data=newdf).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.622
Model:                            OLS   Adj. R-squared:                  0.620
Method:                 Least Squares   F-statistic:                     284.3
Date:                Fri, 29 Sep 2017   Prob (F-statistic):          7.34e-215
Time:                        23:38:33   Log-Likelihood:                -501.52
No. Observations:                1041   AIC:                             1015.
Df Residuals:                    1035   BIC:                             1045.
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
pclass        -0.1168      0.012     -9.652      0.000      -0.140      -0.093
age           -0.0034      0.001     -4.497      0.000      -0.005      -0.002
sibsp         -0.0437      0.015     -2.941      0.003      -0.073      -0.015
parch          0.0041      0.016      0.253      0.801      -0.028       0.036
fare           0.0006      0.000      1.738      0.083   -7.17e-05       0.001
sexR           0.5535      0.023     24.498      0.000       0.509       0.598
==============================================================================
Omnibus:                       38.022   Durbin-Watson:                   1.904
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.281
Skew:                           0.481   Prob(JB):                     1.09e-09
Kurtosis:                       3.158   Cond. No.                         125.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [55]:
# 1) Based on correlation results table,it seems pclass, fare, parch and sex shows relatively higher correlation with survived,
# 2) Based on regression, parch and fare are excluded due to P value is higher than 5% which is not significant.
# 3) Remove parch & fare from regression model and see results again

In [62]:
import statsmodels.formula.api as sm
result = sm.ols(formula='survived ~ pclass +age +sibsp +sexR', data=newdf).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.375
Model:                            OLS   Adj. R-squared:                  0.372
Method:                 Least Squares   F-statistic:                     155.4
Date:                Fri, 29 Sep 2017   Prob (F-statistic):          3.42e-104
Time:                        23:54:06   Log-Likelihood:                -492.82
No. Observations:                1042   AIC:                             995.6
Df Residuals:                    1037   BIC:                             1020.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.3264      0.071      4.573      0.000       0.186       0.466
pclass        -0.1827      0.016    -11.403      0.000      -0.214      -0.151
age           -0.0059      0.001     -6.249      0.000      -0.008      -0.004
sibsp         -0.0459      0.014     -3.357      0.001      -0.073      -0.019
sexR           0.4994      0.026     19.550      0.000       0.449       0.550
==============================================================================
Omnibus:                       36.662   Durbin-Watson:                   1.926
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               40.009
Skew:                           0.480   Prob(JB):                     2.05e-09
Kurtosis:                       2.974   Cond. No.                         205.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [63]:
import statsmodels.formula.api as sm
result = sm.ols(formula='survived ~ pclass +age +sibsp +sexR-1', data=newdf).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               survived   R-squared:                       0.621
Model:                            OLS   Adj. R-squared:                  0.620
Method:                 Least Squares   F-statistic:                     425.4
Date:                Fri, 29 Sep 2017   Prob (F-statistic):          5.82e-217
Time:                        23:54:09   Log-Likelihood:                -503.22
No. Observations:                1042   AIC:                             1014.
Df Residuals:                    1038   BIC:                             1034.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
pclass        -0.1272      0.011    -12.056      0.000      -0.148      -0.106
age           -0.0030      0.001     -4.236      0.000      -0.004      -0.002
sibsp         -0.0348      0.014     -2.561      0.011      -0.061      -0.008
sexR           0.5719      0.020     28.296      0.000       0.532       0.612
==============================================================================
Omnibus:                       37.945   Durbin-Watson:                   1.901
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.154
Skew:                           0.474   Prob(JB):                     1.16e-09
Kurtosis:                       3.221   Cond. No.                         58.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [84]:
# 2nd regression model shows all the four independ variables(pclass, age, sib & sex) P value less than 0.05 (significant). 
# Thus, we use desectiptive statistics to know survived people's pclass, age, sib and sex information

In [86]:
# Finding A: More females (72%) survived than males (18%).
A= pd.crosstab(index=newdf["survived"], columns=newdf["sex"])
A.index= ["died","survived"]
A/A.sum()

sex         female      male
died      0.273707  0.810939
survived  0.726293  0.189061

In [87]:
# Finding B: Highier classes more likely to survived 
B= pd.crosstab(index=newdf["survived"], columns=newdf["pclass"])
B.index= ["died","survived"]
B/B.sum()

pclass          1         2         3
died      0.38558  0.570397  0.744711
survived  0.61442  0.429603  0.255289

In [88]:
# Finding C: More sibsp is more likely to died 
C= pd.crosstab(index=newdf["survived"], columns=newdf["sibsp"])
C.index= ["died","survived"]
C/C.sum()

sibsp            0         1         2    3         4    5    8
died      0.656144  0.489028  0.547619  0.7  0.863636  1.0  1.0
survived  0.343856  0.510972  0.452381  0.3  0.136364  0.0  0.0

In [91]:
# Finding D_1: Average suvived people age is 28.8 yrs old
survived_age=newdf[newdf['survived']==1]
survived_age.describe()

,pclass,survived,age,sibsp,parch,fare,body,sexR
count,496.000000,496.0,423.000000,496.000000,496.000000,496.000000,0.0,496.000000
mean,1.969758,1.0,28.803980,0.465726,0.475806,45.627571,NaN,1.679435
std,0.872181,0.0,15.056131,0.686695,0.778122,54.815470,NaN,0.467165
min,1.000000,1.0,0.166700,0.000000,0.000000,0.000000,NaN,1.000000
25%,1.000000,1.0,19.500000,0.000000,0.000000,11.133300,NaN,1.000000
50%,2.000000,1.0,27.000000,0.000000,0.000000,26.000000,NaN,2.000000
75%,3.000000,1.0,38.000000,1.000000,1.000000,56.946900,NaN,2.000000
max,3.000000,1.0,80.000000,4.000000,5.000000,263.000000,NaN,2.000000

In [92]:
# Finding D_2: Average died people age is 30.5 yrs old which is slightly higher than survived group
died_age=newdf[newdf['survived']==0]
died_age.describe()

,pclass,survived,age,sibsp,parch,fare,body,sexR
count,809.000000,809.0,619.000000,809.000000,809.000000,808.000000,121.000000,809.000000
mean,2.500618,0.0,30.545369,0.521632,0.328801,23.353831,160.809917,1.156984
std,0.744825,0.0,13.922539,1.210449,0.912332,34.145096,97.696922,0.364011
min,1.000000,0.0,0.333300,0.000000,0.000000,0.000000,1.000000,1.000000
25%,2.000000,0.0,21.000000,0.000000,0.000000,7.854200,72.000000,1.000000
50%,3.000000,0.0,28.000000,0.000000,0.000000,10.500000,155.000000,1.000000
75%,3.000000,0.0,39.000000,1.000000,0.000000,26.000000,256.000000,1.000000
max,3.000000,0.0,74.000000,8.000000,9.000000,263.000000,328.000000,2.000000

In [96]:
# Finding F: Based on corsstable below, 96% of 1st class female survived which is highest group of people who survived
# More males in 2nd and 3rd class were died than 1st class make. 
F= pd.crosstab(index=newdf["survived"], columns=[newdf["pclass"],newdf["sex"]])
F/F.sum()

pclass           1                   2                   3
sex         female      male    female      male    female     male
survived
0         0.035211  0.666667  0.113208  0.853801  0.509259  0.84787
1         0.964789  0.333333  0.886792  0.146199  0.490741  0.15213